body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5em;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}


main{
  height: 100vh;
}

.app {
  height: 100vh;
  width: 100vw;
}

.form-main .card {
  min-width: 450px;
}
.form-main .card form {
  margin-top: 2rem;
}
.form-main .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-main .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-main .card {
      width: 100%;
      min-width: 0;
  }
}

.card {
  margin-bottom: 2rem;
}
